p Chào #{@restaurant.manager.name}
p Nhà hàng #{@restaurant.name} của bạn đã được quản trị viên chấp thuận, vào website để quản lý nhà hàng ngay thôi nào!
p website: #{link_to "#{root_url}", root_url}
