p Chào #{@resource.try(:name)}!
p Click vào link bên dưới để lấy lại mật khẩu
p= link_to "#{edit_password_url(@resource, reset_password_token: @token)}", edit_password_url(@resource, reset_password_token: @token)
